html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
     background-color: #add8e62f;
}

.clouds {
    background-image: url(../images/Cloudy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    text-align: center;
    top: 0;
    height:763px;
    padding-top: 10px;
    
}

.weatherHeader {
    position:absolute;
    left: 0;
    right: 0;
    margin: 58px auto;
    color: #6b7f90
}

.searchInput {
    position: absolute;
    left: 0;
    right:0;
    margin:124px auto;
    color: #6b7f90
}

.citySearch {
    background: none;
    background-color: #ddddff73;
    margin-top: 10px;
    border-radius: 20px;
    color: #6b7f90;
    height:20px;
    width: 110px;
    transition: width .5s ease-in-out;
}

.citySearched {
    background: none;
    background-color: #eaeaea73;
  
    border-radius: 20px;
    height:20px;
    margin-left: .5em;
    width: 80px;
    color: #6f8190;
    display: block;
    left: 0;
    right:0;
    margin: 1em auto;
}

.citySearch:hover {
    width: 150px
}

.citySearch:focus {
    outline-width: 0;
}

.cityInput {
    background: none;
    background-color: #ddddff73;
    margin-top: 10px;
    border-radius: 20px;
    height:20px;
    width: 100px;
    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.cityInput:focus {
      width: 150px;
      outline-width: 0;
}

.cityText {
    text-decoration: underline;
}

.searchHistory {
    position: absolute;
    left: 0;
    right:0;
    margin:267px auto;
}

.allWeather {
    visibility: hidden;
    overflow-x: hidden;
    position:relative;
    
}

.weatherpres {
   
    position: absolute;
    text-align: center;
    width: 200px;
    left: 0;
    right:0;
    margin:15px auto;
    margin-bottom: 0;
    border: 2px groove #b58e8e59;
    box-shadow: 10px 10px 40px 10px #cbcbdc;
    padding:15px;
  
}

.city {
    font-size: 1.5em;
    margin-bottom: 6px;
    text-decoration: underline
}

.date {
    font-size: 1.5em;
}

.dayHeader {
    display: none;
    text-align:center;
}

.day5Header{
  position: absolute;
  text-align: center;
    left: 0;
    right:0;
    margin:340px auto;
    margin-bottom: 0;
    

}
.weatherHead {
    font-size: 1em;
    margin-bottom: 6px;
    margin-top: 6px;
    text-decoration: underline
}

.weatherFuture {
    visibility: hidden; 
    position: absolute;
    
     left: 0;
     right:0;
     margin:414px auto;
    
     margin-bottom: 0px;
}

.future {
    width: 150px;
   
     left: 0;
     right:0;
     margin:0px auto;

   
   
    text-align: center;
    border: 2px groove #b58e8e59;
    box-shadow: 10px 10px 40px 10px #cbcbdc;
    padding:15px;
    
}


.date5 {
    font-size: 1.5em;
}


* {box-sizing:border-box}

.mySlides {
    display: none;
}


.prev {
  cursor: pointer;
  position: absolute;
  width:0;
  left: 0;
  right:204px;
  margin:513px auto;
  margin-bottom: 20px;
 
  
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  cursor: pointer;
  position: absolute;
  width:0px;

  left: 186px;
  right:0;
  margin:513px auto;
  margin-bottom: 0;
 
  
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
 
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}






.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 630px 2px;
  margin-bottom: 24px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotDiv {
    height: 0;
}
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
